<?xml version="1.0" encoding="UTF-8"?>
<package version="2.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="BookId">

    <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
        <dc:identifier id="BookId" opf:scheme="ISBN">123456789X</dc:identifier>
        <dc:language>en</dc:language>
        <dc-metadata xmlns:dc="http://purl.org/metadata/dublin_core" xmlns:oebpackage="http://openebook.org/namespaces/oeb-package/1.0/" xmlns:opf="http://www.idpf.org/2007/opf">
            <dc:Language>EN</dc:Language>
            <dc:Title>{{ title }}</dc:Title>
            <dc:Publisher>The Economist</dc:Publisher>
        </dc-metadata>
        <x-metadata>
            <output encoding="utf-8" output="text/html"/>
        </x-metadata>
        <meta name="cover" content="cover"/>
    </metadata>

    <manifest>
        <item id="tc" href="toc.html" media-type="application/xhtml+xml"/>
        <item id="book" href="economist.html" media-type="application/xhtml+xml"/>
        <item id="ncx" href="toc.ncx" media-type="application/x-dtbncx+xml"/>
        <item id="cover" href="cover.jpg" media-type="image/jpeg" />
    </manifest>

    <!-- Each itemref references the id of a document designated in the manifest. The order of the itemref elements organizes the associated content files into the linear reading order of the publication.  -->
    <spine toc="ncx">
        <itemref idref="tc" />
        <itemref idref="book" />
    </spine>

    <!-- The Kindle reading system supports two special guide items which are both mandatory.
    type="toc" [mandatory]: a link to the HTML table of contents
    type="text" [mandatory]: a link to where the content of the book starts (typically after the front matter) -->
    <guide>
        <reference type="toc" title="Table of Contents" href="toc.html"/>
        <reference type="text" title="Beginning" href="economist.html"></reference>
    </guide>

</package>

