<?xml version="1.0" encoding="UTF-8"?>
<package version="2.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="BookId">

    <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
        <dc:identifier id="BookId" opf:scheme="ISBN">123456789X</dc:identifier>
        <dc:language>en</dc:language>
        <dc-metadata xmlns:dc="http://purl.org/metadata/dublin_core" xmlns:oebpackage="http://openebook.org/namespaces/oeb-package/1.0/" xmlns:opf="http://www.idpf.org/2007/opf">
            <dc:Language>EN</dc:Language>
            <dc:Title>{{ issue['title'] }}</dc:Title>
            <dc:Publisher>The Economist</dc:Publisher>
        </dc-metadata>
        <x-metadata>
            <output encoding="utf-8" output="text/html"/>
        </x-metadata>
    </metadata>

    <manifest>
        <item id="tc" href="toc.html" media-type="application/xhtml+xml"/>
        <item id="book" href="economist.html" media-type="application/xhtml+xml"/>
        <item id="ncx" href="toc.ncx" media-type="application/x-dtbncx+xml"/>
        <item id="cover" href="{{ issue['cover_image_name'] }}" media-type="image/jpeg" properties="cover-image" />
    </manifest>

    <spine toc="ncx">
        <itemref idref="tc" />
        <itemref idref="book" />
    </spine>

    <guide>
        <reference type="toc" title="Table of Contents" href="toc.html"/>
        <reference type="text" title="Beginning" href="toc.html"></reference>
    </guide>

</package>

