a {
    page-break-inside: avoid;
    page-break-before: avoid;
    page-break-after: avoid;
    break-after: avoid;
}

a.toc * {
    color: #000 !important;
    text-decoration: none !important;
}

a.next_pointer {
    bottom: 0;
    text-align: right;
}

body {
    background-color: white;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

p.article {
    margin: 0;
    padding: 0;
    text-indent: 10px;
    orphans: 2 !important;
    widows: 3 !important;
    display: inline-block;
}

p.dateline {
    margin-top: 1.5em;
}

p.description {
    margin-bottom: 1.0em;
}

div.articleBody {
    page-break-inside: avoid;
    page-break-before: always;
    page-break-after: avoid;
    break-after: avoid;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    page-break-before: avoid;
    page-break-after: avoid;
    /*break-after: avoid-page;*/
    /*page-break-before: always;*/
}

h2 {
    padding: 0;
    text-align: left;
    text-indent: 0;
    margin-top: 1.5em;
    /*break-after: avoid-page;*/
}

h2.subheader {
    margin-bottom: 0.5ex;
}

h3 {
    padding: 0;
    text-align: left;
    text-indent: 0;
    margin: 1.5em;
    page-break-after: avoid;
    break-after: avoid;
}
